*{
	margin: 0;
	padding: 0;
}

.header
{
	width:100%;
	max-width: 500px;
	float: right;
	font-family: sans-serif;	
}

.user
{
	border-radius: 50%;
	width: 40px;
	float: right;
	margin-right: 15px;
	margin-left: 10px; 
	margin-top: 20px;
	cursor: pointer;
	font-size: 32px;
}

.header_icons
{
	float: right;
	width: 200px;
	margin-top: 28px;
	margin-right: 10px;
}

.header_icons a
{
	float: right;
	margin-right: 15px;
	margin-top: 5px;
	font-size: 14px;
	color: #333;
	text-decoration: none;
}

.header_icons a:hover
{
	color: gray;
}

.header_icons .fa-th
{
	font-size: 20px;
	margin-top: 5px;
	color: gray;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}

.header_icons .fa-th:hover
{
	color: #000;
}

.header_icons .fa-bell:hover
{
	color: #000;
}

.header_icons .fa-bell
{
	width: 20px;
	height: 20px;
	background-color: #737373;
	border-radius: 50%;
	font-size: 10px;
	margin-top: 5px;
	color: #fff;
	float: right;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.search
{
	font-family: sans-serif;
	padding:20px;	

}

.google-image img
{
	margin: 100px auto 10px;
	max-width: 550px;
	max-height:220px;
	margin-left: 450px;
	cursor: pointer;
}

.input-group
{
	margin:13px auto 10px;
	border-radius: 20px;
	max-width: 550px;
	background-color: #F5F5F5;
}

.form-control
{
	border: none!important;
	border-radius: 20px!important;
	background-color: #F5F5F5!important;
}

.form-control:focus
{
	box-shadow: none!important
}

.input-group-text
{
	background: none!important;
	border:none!important;
}

.input-group .fa
{
	color: grey;
	cursor: pointer;
}

.input-group .fa-search
{
	padding-top: 10px;
	padding-left: 10px;
}